$w1: 100%;
$w2: 100px;
$w3: 200px;
$w4: 70px;
$w5: 450px;
$w6: 280px;
$w7: 400px;
$w8: 550px;
$w9: 340px;
$w10: 850px;
$w11: 120px;

$h1: 100vh;
$h2: 400px;
$h3: 80px;
$h4: 60px;
$h5: 25px;
$h6: 300px;
$h7: 30px;
$h8: 1450px;
$h9: 200px;
$h10: 550px;
$h11: 100px;
$h12: 40px;
$h13: 280px;
$h14: 440px;

$s1: 25px;
$s2: 40px;
$s3: 16px;
$s4: 30px;
$s5: 20px;

$t1: 0;
$t2: 440px;
$t3: 1890px;

$fw1: bold;
$fw2: 500;
$fw3: 600;